<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCtaK0ZKp5HLB6E5Bn_T6PyuGMirXnsWsk</string>
	<key>GCM_SENDER_ID</key>
	<string>309213853245</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.zafarbek.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-f83fd</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-f83fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:309213853245:ios:074f4a92a417adfc671c54</string>
	<key>DATABASE_URL</key>
	<string>https://chat-app-f83fd-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>